@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap'); /*EB Garamond font-family: 'EB Garamond', serif;*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=IBM+Plex+Serif:wght@500&display=swap'); /* font-family: 'IBM Plex Serif', serif; */

/* globally applied styles */
* {
    padding: 0 0 0 0;
    margin: 0 0 0 11px;
    box-sizing: border-box;
    font-family:'IBM Plex Serif', serif;
}

h2 {
    font-family: 'EB Garamond', serif;
    color: rgb(7, 42, 200);
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

/* header */
#header-title {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 2.5rem 0 0 7.5rem;
}

#header-summary {
    margin: 0 0rem 2rem 3.1rem;    
    font-family: 'IBM Plex Serif', serif;
    width: 93%;
}

/* contact */
#contact-header {
   margin: 0 0 1rem 0;
}

#contact-subheader {
    white-space: pre;
}
#contact-subheader a {
    cursor: pointer;
    color: black;
}

#contact-underline {
    width: 100%;
    
}

.contact-span{
    font-weight: bold;
}

#contact-list {
    line-height: 200%;
}

#contact-list li:nth-child(2) {
    margin-bottom: 20px;
    margin-top: 20px;
}

#email-name-span {
    font-size: 1.1rem;
    margin-left: 320px;
}

#email-span {
    margin-left: 220px;
}

#phone-name-span {
    margin-left: 320px;
}

#phone-span {
    margin-left: 265px;
}

#address-name-span {
    margin-left: 315px;
}

#address-span {
    margin-left: 265px;
}

/* skills */
#skills {
    margin-top: 2rem;
}

#skills h2 {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

#skills-list {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem 0 0.3rem;
}

/* experience */
#experience {
    margin-top: 2rem;
}

#experience-container {
    width: 85%;
}

.experience-item { 
    margin-bottom: 2rem;
}

#experience h2 {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

#experience h3 {
    margin-left: 21rem;
    margin-bottom: 0.5rem;
}

#man-with-a-spade h3 {
    margin-left: 19rem;
}

#man-with-a-spade p {
    margin-bottom: 1rem;
}

#survey-form h3 {
    margin-left: 20rem;
}

#survey-form p {
    margin-bottom: 1rem;
}

#tribute-site h3 {
    margin-left: 20rem;
}

#experience p {
    margin-left: 2rem;
    width: 120%;
}

#experience a {
    margin-left: 21.5rem;
}

/* education */
#education {
    margin-bottom: 2rem;
}

#education h2 {
    /* margin-bottom: 1rem; */
    padding-top: 3rem;
    border-bottom: 1px solid black;
}

#education h3 {
    margin-left: 20.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* free code camp */
#education h3:nth-child(4) {
    margin-top: 2rem;
    margin-left: 20rem;
}

/* codecademy */
#education h3:nth-child(6) {
    margin-top: 2rem;
}

/* jad joubran */
#edli1 {
    margin-left: 19.5rem;
}

#edli2 {
    margin-left: 20rem;
}


/* free code camp */
#edli3 {
    margin-left: 18.5rem;
}

#edli4 {
    margin-left: 14rem;
}

#edli5 {
    margin-left: 16.5rem;
}


/* codeacademy */
#edli6 {
    margin-left: 19rem;
}

#edli7 {
    margin-left: 18rem;
}



#education span {
    font-weight: bold;
}

#education li {
    margin-bottom: 1rem;
}


/* work experience */
h2 {
    border-bottom: 1px solid black;
}

#work-experience h2 {
    border-bottom: 1px solid black;
    margin: 0 0 1rem 0;
}

/* cambly */
#work-experience h3:nth-child(2){
    /* color: red; */
    margin-left: 18.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

/* cambly ul */
#cambly-ul li:nth-child(1) {
    /* color: red; */
    margin-left: 21.5rem;
    margin-bottom: 1rem;
}

/* company */
#cambly-ul li:nth-child(1) span:nth-child(1) {
    font-weight: bold;
    font-size: 1.2rem;
}

/* company cambly */
#cambly-ul li:nth-child(1) span:nth-child(3) {
    margin-left: 0.95rem;
}

/* position li */
#cambly-ul li:nth-child(2) {
    /* color: burlywood; */
    margin-left: 16rem;
    margin-bottom: 1rem;
}


/* position */
#cambly-ul li:nth-child(2) span:nth-child(1) {
    font-weight: bold;
    margin-left: 6rem;
    font-size: 1.2rem;
}

/* position esl tutor */
#cambly-ul li:nth-child(2) span:nth-child(3) {
    margin-left: 2.5rem;
}


/* phatthana */
#work-experience h3:nth-child(4){
    /* color: purple; */
    margin-left: 17.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;

}

#phatthana-ul li:nth-child(1) {
    margin-bottom: 1rem;
}
/* company */
#phatthana-ul li:nth-child(1) span:nth-child(1) {
    /* color: coral; */
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 21.5rem;
}

/* company phatthana */
#phatthana-ul li:nth-child(1) span:nth-child(3) {
    /* color: green; */
    margin-left: 18rem;
}


/* position */
#phatthana-ul li:nth-child(2) span:nth-child(1) {
    /* color: red; */
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 22rem;
    margin-top: 1rem;
}

/* esl tutor */
#phatthana-ul li:nth-child(2) span:nth-child(3) {
    /* color: yellow; */
    margin-left: 18.8rem;
}



/* bright */
#work-experience h3:nth-child(6){
    /* color: blue; */
    margin-left: 16.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;

}

#bright-ul li:nth-child(1){
    margin-bottom: 1rem;
}

#bright-ul li:nth-child(1) span:nth-child(1) {
    /* color: green; */
    margin-left: 21.7rem;
    font-weight: bolder;
    font-size: 1.2rem;
}

#bright-ul li:nth-child(1) span:nth-child(3) {
    /* color: orange; */
    margin-left: 15rem;
}

#bright-ul li:nth-child(2) span:nth-child(1) {
    /* color: blue; */
    margin-left: 21.9rem;
    font-weight: bolder;
    font-size: 1.2rem;
}

#bright-ul li:nth-child(2) span:nth-child(3) {
    /* color: blueviolet; */
    margin-left: 18.7rem;
}






@media print {
    body {
        width: 8.25in;
        height: 11.75in;
        margin: 0 0 0 0;
    };
};